<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>001.png</string>
		<key>name</key>
		<string>素还真</string>
		<key>time</key>
		<string>上午12:12</string>
		<key>source</key>
		<string>来自iphone客户端</string>
		<key>content</key>
		<string>半神半圣亦半仙，全儒全道是全贤，脑中真书藏万卷，掌握文武半边天</string>
		<key>image</key>
		<string>0.png</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>002.png</string>
		<key>name</key>
		<string>一页书</string>
		<key>time</key>
		<string>中午12:00</string>
		<key>source</key>
		<string>来自安卓客户端</string>
		<key>content</key>
		<string>世事如棋，乾坤莫测，笑尽英雄</string>
		<key>image</key>
		<string>1.png</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>003.png</string>
		<key>name</key>
		<string>鷇音子</string>
		<key>time</key>
		<string>昨天 12:13</string>
		<key>source</key>
		<string>来自mac客户端</string>
		<key>content</key>
		<string>玄歌浪蹈，幻中道真，太游方外睨红尘</string>
		<key>image</key>
		<string>2.png</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>004.png</string>
		<key>name</key>
		<string> 阿修罗</string>
		<key>time</key>
		<string>前天8:40</string>
		<key>source</key>
		<string>来自windows客户端</string>
		<key>content</key>
		<string>虚无，带来创造的意义；战争，造就历史的永恒；死亡，象征重生的开始；千年一念，唯有－－阿修罗</string>
		<key>image</key>
		<string>3.png</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>005.png</string>
		<key>name</key>
		<string>帝如来</string>
		<key>time</key>
		<string>昨天3:30</string>
		<key>source</key>
		<string>来自google客户端</string>
		<key>content</key>
		<string>三身果报自凡根，六界因缘无了痕，善逝从来非本相，枯荣生灭尽空门</string>
		<key>image</key>
		<string>4.png</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>006.png</string>
		<key>name</key>
		<string>忌霞殇</string>
		<key>time</key>
		<string>晚上18:33</string>
		<key>source</key>
		<string>来自华为客户端</string>
		<key>content</key>
		<string>壮怀千载，风云百态，天教麒麟峥嵘在。蛰雷阙，凌尧阶，一洗浊海，万象初开，忘世枕蓬莱</string>
		<key>image</key>
		<string>5.png</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>007.png</string>
		<key>name</key>
		<string>玄同</string>
		<key>time</key>
		<string>昨天21:20</string>
		<key>source</key>
		<string>来自三星galaxy客户端</string>
		<key>content</key>
		<string>黄昏落日晖，故情一片红似火。归雁长天去，浮云游子失依依</string>
		<key>image</key>
		<string>6.png</string>
	</dict>
</array>
</plist>
